<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Play Squash.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1DD8BED01BD9864B0032BAAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DD8BEE61BD9864B0032BAAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DD8BEF11BD9864B0032BAAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
